<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>989368306264-jtv0ti3oo24u5ek9lb4cavdee15t6tl0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989368306264-jtv0ti3oo24u5ek9lb4cavdee15t6tl0</string>
	<key>API_KEY</key>
	<string>AIzaSyCmJ6L-3t1HdfbmE-JrRGbHmhHlf1EPA1A</string>
	<key>GCM_SENDER_ID</key>
	<string>989368306264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kubaolszewski.watchAMovie</string>
	<key>PROJECT_ID</key>
	<string>watch-a-movie-5a7e8</string>
	<key>STORAGE_BUCKET</key>
	<string>watch-a-movie-5a7e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989368306264:ios:a220c6424d1757f4d0982d</string>
</dict>
</plist>